@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-color: #13293D;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login {
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: #1B98E0;
}

.left-login-img {
    width: 35vw;


}

.right-login {
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px ;
    background-color: #0d1e2e96;
    border-radius: 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.432);
}

.card-login > h1 {
    color: #1B98E0;
    font-weight: 800;
    margin: 0;
}

.textfild {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfild > input {
    width: 100%;
    font-weight: 400;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background-color: #514869;
    outline: none;
    color: white;
    font-size: 12pt;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.432);
    box-sizing: border-box;
}

.textfild > label {
    color: white;
    margin-bottom: 10px;
}

.textfild > input::placeholder {
    color: rgb(170, 170, 170);
}

.botao {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    background: #006494;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #006494;
}

.botao:hover {
    background: #1B98E0;
}

@media (max-width: 950px) {
      .card-login {
        width: 85%;
      }  
}

@media (max-width: 600px) {
    .main-login {
        flex-direction: column;
    }
    .left-login > h1 {
        display: none;
    }

    .right-login{
        height: 80%;
    }

    .left-login {
        width: 100%;
        height: auto;
    }
    .left-login-img {
        width: 
        26vh;
        padding-top: 30px;
    }
    .card-login {
        width: 90%;

        
    }
}




